.logement {
  width: 1240px;
  margin: 50px auto 0;
  padding-bottom: 50px;
}

.logement-image {
  width: 1240px;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.logement-info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.logement-left {
  display: flex;
  flex-direction: column;
}

.logement-right {
  display: flex;
  align-items: flex-start;
}

.logement-title {
  h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 143%;
    color: #ff6060;
  }

  p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 143%;
    color: #000;
  }
}

.logement-tags {
  display: flex;
  gap: 10px;
  margin-top: 20px;

  span {
    min-width: 115px;
    padding: 3px 10px;
    border-radius: 10px;
    background-color: #ff6060;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    text-align: center;
  }
}

.logement-host {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 143%;
    color: #ff6060;
    text-align: right;
  }

  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.logement-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logement-rating {
  display: flex;
  gap: 5px;
  margin-top: 20px;

  img {
    width: 24px;
    height: 24px;
  }
}

.logement-collapses {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
