header {
  width: calc(100% - 200px);
  max-width: 1240px;
  margin: 45px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 210.32px;
    height: 68px;
  }

  nav {
    display: flex;
    gap: 40px;

    a {
      color: #000;
      text-decoration: none;
      font-weight: 500;
      font-size: 24px;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    width: 100%;
    padding: 0 20px;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    img {
      width: 145px;
      height: 46.88px;
      flex-shrink: 0;
    }

    nav {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 26px;
      margin-left: auto;

      a {
        font-size: 12px;
        font-weight: 500;
        line-height: 143%;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }
}
