footer {
  height: 209px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 122px;
    height: 39.44px;
    margin-top: 66px;
  }

  p {
    margin-top: 28.56px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 143%;
  }
}

@media (max-width: 768px) {
  footer {
    height: 209px;

    img {
      width: 133.59px;
      height: 46px;
      margin-top: 58px;
    }

    p {
      width: 133.59px;
      height: 46px;
      margin: 0;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-size: 12px;
      line-height: 143%;
      text-align: center;
    }
  }
}
