.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 139px;
  padding: 139px 0;
  box-sizing: border-box;
  text-align: center;

  h1 {
    width: 597px;
    height: 263px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff6060;
    font-size: 288px;
    font-weight: 700;
    line-height: 1;
  }

  p {
    margin: 0;
    color: #ff6060;
    font-size: 36px;
    font-weight: 500;
    line-height: 143%;
  }

  a {
    margin: 0;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 143%;
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .error {
    width: 335px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 113px;

    h1 {
      width: 198px;
      height: 99px;
      margin-top: 113px;
      font-size: 96px;
      line-height: 143%;
    }

    p {
      width: 260px;
      height: 52px;
      margin: 0;
      font-size: 18px;
      line-height: 143%;
    }

    a {
      width: 221px;
      margin: 0 0 113px;
      font-size: 14px;
      line-height: 143%;
    }
  }
}
